<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="NBATeamTwitterTrends" Publisher="CN=rfleck" Version="2.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="c5433d79-61f8-45f7-a964-0c6ef7e9f602" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>NBATeamTwitterTrends</DisplayName>
    <PublisherDisplayName>rfleck</PublisherDisplayName>
    <Logo>Assets\storeLogo-sdk.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10586.0" MaxVersionTested="10.0.10586.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
    <Resource uap:Scale="180" />
    <Resource uap:DXFeatureLevel="dx11" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NBATeamTwitterTrends.App">
      <uap:VisualElements DisplayName="NBA Twitter Trends" Square150x150Logo="Assets\squareTile-sdk.png" Square44x44Logo="Assets\smallTile-sdk.png" Description="NBATeamTwitterTrends" BackgroundColor="transparent">
        <uap:DefaultTile ShortName="NBATeamTwitterTrends">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\AppSplashScreen480_800.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.search" EntryPoint="MyActivateableClassId.baz" />
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="mailto" DesiredView="useHalf">
            <uap:DisplayName>MailTo Protocol</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <uap:Capability Name="documentsLibrary" />
  </Capabilities>
</Package>