<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="c5433d79-61f8-45f7-a964-0c6ef7e9f602" Publisher="CN=rfleck" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="c5433d79-61f8-45f7-a964-0c6ef7e9f602" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>NBATeamTwitterTrends</DisplayName>
    <PublisherDisplayName>rfleck</PublisherDisplayName>
    <Logo>Assets\AppStoreLogo50_50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NBATeamTwitterTrends.App">
      <m3:VisualElements DisplayName="NBA Twitter Trends" Square150x150Logo="Assets\AppSquareLogo150_150.png" Square44x44Logo="Assets\AppLogo44_44.png" Description="NBATeamTwitterTrends" ForegroundText="light" BackgroundColor="transparent">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\AppBadgeLogo24_24.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\AppLogo310_150.png" Square71x71Logo="Assets\AppSquareLogo71_71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\AppSplashScreen480_800.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
          <m3:Rotation Preference="landscape" />
          <m3:Rotation Preference="landscapeFlipped" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>